textarea {
  width: -moz-available;
  height: 4em;
}

form {
  display: flex;
  gap: 1em;
}

.message {
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 0.4em;
  border-radius: 8px 0px 8px 0px;
}

#chat-log {
  overflow-x: auto;
  height: 480px;
  border: 2px solid rebeccapurple;
  padding: 1em;
  margin: 1em;
}

.server-log {
  background-color: rgba(64, 126, 198, 0.4);
}

nav {
  display: flex;
  block-size: 4em;
  justify-content: space-between;
}
